.tvBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #131212;
    width: 60%;
    height: 400px;
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 5%;
}

.tvScreen{
    background: rgb(79,79,80);
    background: -moz-linear-gradient(140deg, rgba(79,79,80,1) 0%, rgba(37,37,40,1) 20%, rgba(19,18,26,1) 70%);
    background: -webkit-linear-gradient(140deg, rgba(79,79,80,1) 0%, rgba(37,37,40,1) 20%, rgba(19,18,26,1) 70%);
    background: linear-gradient(140deg, rgba(79,79,80,1) 0%, rgba(37,37,40,1) 20%, rgba(19,18,26,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f4f50",endColorstr="#13121a",GradientType=1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#13121a",endColorstr="#4f4f50",GradientType=1);
    width: 80%;
    margin: 5%;
    margin-right: 0;
    border-radius: 10px;
    border: #222020 10px ridge;
}

.tvScreen img{
    width: 100%;
    height: 100%;
}

.tvControl{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 300px;
    margin: 5%;
    border-radius: 10px;
}

.tvButtons{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tvButtons button{
    border-radius: 10px;
    border: #222020 5px ridge;
    color: white;
    background-color: #141212;
    margin-bottom: 5px;
}

.tvButtons button:hover{
    color: red;
    background-color: #252222;
}

.tvDisplay {
    color: white;
}