body{
    background-color: #181818;
}

p{
    color: white;
}

p.codeBlock{
    color: rgb(10, 134, 10);
    background-color: rgb(14, 3, 34);
}
.commentBlock{
    color: lightsteelblue;
}

h2{
    color: #FFEA00;
    text-align: center;
}


h3{
    color: "#FFEA00";
}

#externoStyle{
    color: white;
}
